#about {
    max-width: 75%;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#smoothscroll {
    margin: 30px 0;
	background: transparent;
	border: 2px solid #fff;
    background-color: #D4C893;
}

#smoothscroll:hover {
	color: #1f386e;
	background: #fff;
}

h2 h3 {
    font-family: 'Spartan', sans-serif;
}

.bodyP {
    font-family: 'Volkhov', serif;
    text-align: justify;
}
