.meet-the-team {
  max-width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #d4c893;
  margin-bottom: 20px;
}

.team-title {
  font-family: 'Spartan', sans-serif;
}

.employee-info {
  margin-bottom: 20px;
}

.employee-card {
  background-color: #f9f9f9;
  /* max-width: 20%; */
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.employee-img {
  max-width: 200px;
  border-radius: 100px;
}

@media screen and (max-width: 960px) {
  .employee-info {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}