.theteam {

    height: 300px;
    width: 300px;
    background:#acada8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
  }

/* .modal {
	width: 400px;
	border: 1px solid grey;
	margin: 0 auto;
	margin-top: 10px;
	background: grey;
  } */