.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: .6;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #40423d;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1 {
  color: #f9f9f9;
}

.hero h1 {
  font-size: 100px;
  padding-top: 140px;
  margin-top: 0;
  position: relative;
}
