.service-section {
    background-color: #f9f9f9;
    max-width: 75%;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#main-service-title {
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    padding-top: 15px;
    padding-bottom: 40px;
}

.service-one {
    /* background-color: #f9f9f9; */
    margin-left: 30px;
    margin-right: 30px;
}

.serv-title {
    text-align: center;
    font-family: 'Spartan', sans-serif;
}

.hoa-manage {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.blurb-one, .blurb-two {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

.serviceDesc {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.blurb-one {
    max-width: 45%;
}

.hoa-bullet-list {
    list-style: circle;
    margin-left: 30px;
}

.hoa-sections, .other-services {
    display: flex;
    justify-content: space-around;
}

.hoa-service-card {
    background-color: #d4c893;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 200px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
}

.other-service-card {
    background-color: #9494946d;
    color: white;
    text-align: center;
    width: 350px;
    height: 150px;
    margin-bottom: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.service-pop {
    position: relative;
}

#other-serv-title {
    margin-bottom: 20px;
    margin-top: 40px;
}

@media screen and (max-width: 960px) {
    .hoa-service-card, .other-service-card {
        max-width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }